body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

.about {
  font-family: 'Whitney Light', 'Whitney Book', 'Whitney Semibold', 'Whitney', sans-serif;
    grid-area: main; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 100%; 
    position: relative;
  }
.aboutBanner{
    z-index: 1;
}  
.banner{
    width: 100%;
}

.bannerD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
   
}
.bannerH{
    /* font-size: 4rem; */
    font-size: 50px;
    line-height: 75px;
    font-weight: 800;
    color: rgb(3, 0, 0);

}
.bannerP{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .8;   
    font-size: large;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    
}

.aboutdiv{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    max-height: 350px;
}
.aboutD{
    margin-left: 2px;
    background-color: rgb(210, 208, 208);
    padding: 10px;
}   
.aboutD >  p:first-child {
    font:bold;
    color: black;
    font-size: 20px;
    width: 120px;
}
.aboutIcons{
     margin: 2px;
     transition: transform 0.3s ease;
}
.aboutIcons:hover{
    transform: scale(1.5);
}

.icondiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}