.charts {
  display: flex;
  justify-content: space-between; /* Side by side layout */
  gap: 20px; /* Add space between the charts */
  
}

.chart-bar, .chart-pie {
  flex: 1; /* Let both charts take equal width */
}
